@charset "utf-8";



body {}

body, p, table, td
{
    font:normal 12px/150% Arial, Helvetica, sans-serif;
    color:#666666;
}

input, textarea
{
    font:normal 12px/150% Arial, Helvetica, sans-serif;
}

h1
{
    font:normal normal normal 25px/140% Helvetica, Arial, sans-serif;
    color:#666666;
    
}

h2
{
    font:normal normal normal 18px/140% Helvetica, Arial, sans-serif;
    color:#666666;
    
}

h3
{
    font:normal normal bold 12px/140% Verdana, Arial, Helvetica, sans-serif;
    color:#666666;
    
}

a:link,
a:visited
{
    text-decoration: underline; /* fix */
    color:#00889c;
}

a:active,
a:hover
{
    text-decoration:none; /* fix */
    color: #00889c;
}

div.hr
{
    border-bottom-style:solid;
    border-bottom-width:1px; /* fix */
    border-color: #CCCCCC;
    height: 1px;
}